<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">
<suite name="test suite">
    <test name="Which test number">
          <classes>
              <class name="TestNG">
                  <methods>
                      <include name="test4"/>
                  </methods>
              </class>
          </classes>
    </test>
</suite>



